.advantage__slogan {
 .set-font(@uppercase,@line*9,@line*13);
 font-weight: bold;
 margin: 0;
}

.advantage__intro {
 margin: 0;
 margin-top: 30px;
 text-align: center;

 .set-font(@uppercase,@line*7,@line*13);
}

.advantage-item__image {
 display: block;
}

.advantage {
 width: auto;

&--paragraph {
 padding: 0;
 margin: 0 25px;
 text-align: center;
}

&--triangle {
 background-image: url(../img/bg-triangle.svg);
 background-repeat: no-repeat;
 background-position: 50% top;
 background-size: 110%, auto;
}

&--triangle h2 {
 padding-top: 43px;
}

&--blue {
 text-align: center;
 padding: 40px 20px;
 text-align: center;
 color: #ffffff;
 background-color: #81b3d2;
}

&--blue h2{
 .set-font(@uppercase,@line*9,@line*13);
}

&--blue p {
 .set-font(@uppercase,@line*7,@line*11);
}

&--gray {
 text-align: center;
 background-color: #eeeeee;
}

&--gray h2 {
 margin: 0;
 padding-top: 30px;
 padding-bottom: 20px;

 .set-font(@uppercase,@line*9,@line*13);
}

&--gray p {
 margin: 0;
 padding-bottom: 30px;
 padding-top: 20px;

 .set-font(@uppercase,@line*7,@line*11);
}
}

@media(min-width: @tablet-width) {
.advantage {
 width: 100%;
 max-width: 1042px;

&--paragraph {
 margin: 50px 0;
}

&--blue {
  width: 256px;
  padding: 0;
}

&--blue h2 {
 .set-font(@uppercase,@line*11,@line*13);
  padding: 0 35px;
}

&--blue p {
 .set-font(@uppercase,@line*7,@line*11);
   padding: 0 45px;
}

&--triangle {
 background-image: none;
}

&--gray {
 padding: 0;

&::before,
&::after {
 display: none;
}
}

&--gray h2 {
 padding: 50px 60px 20px 60px;
}

&--gray p {
padding: 30px 50px 50px;
}
}

.advantage__slogan {
 text-align: center;
 padding: 0 100px;
 .set-font(@uppercase,@line*11,@line*13);
}

.advantage_section {
 display: flex;
 }

.advantage--revers {
 flex-direction: row-reverse;
}
}

@media(min-width: @desktop-width){
.advantage {
 margin: 0 auto;

&--blue {
 width:400px;
 padding: 0;
}

&--blue h2 {
 padding: 50px 120px 17px;
 margin: 0;
}

&--blue p {
 margin: 0;
 padding: 30px 65px 0;
}

&--gray {
 width:400px;
}

&--gray h2 {
 padding: 50px 120px 17px;

 .set-font(@uppercase,@line*11,@line*13);
}

&--gray p {
 margin: 0;
 padding: 30px 65px 70px;

 .set-font(@uppercase,@line*7,@line*11);
}
}

.advantage__slogan {
 padding: 0 200px;
 .set-font(@uppercase,@line*11,@line*13);
}
}
