.button {
 display: block;
 padding: 20px 0;

 .set-font (@uppercase,@line*11,@line*13);
 font-weight: bold;
 color: #ffffff;

 background-color: #81b3d2;
 border: none;
}

@media(min-width: @tablet-width) {

}

@media(min-width: @desktop-width) {

}
