.comment {
 margin: 0 20px;
 padding: 0;
 width: auto;
}

.comment_request {
 padding-bottom: 22px;

 .set-font(@uppercase,@line*9,@line*13);
 font-weight: bold;
 text-align: center;
}

.comment_lead {
 display: block;
 padding-bottom: 22px;
 margin: 0;

 .set-font(@uppercase,@line*7,@line*12);
 text-align: center;
}

.comment_button {
 width: 100%;
}

@media(min-width: @tablet-width) {
.comment {
 margin: 0 60px;
 width: 90%;
 max-width: 1042px;
}

.comment_button {
  width: 50%;
}

.comment_lead {
  margin: 0 100px;
}

.comment_request {
 .set-font(@uppercase,@line*15,@line*13);
}

.comment_lead::after {
  content: none;
}
}

@media(min-width: @desktop-width) {
.comment {
 margin: 0 120px;
 padding: 0;
}

.comment_lead {
  margin: 0 260px;
}
}
