@line:2px;
@uppercase:uppercase;

.set-font (@text-transform:@uppercase,@font-size:@line,@line-height:@line) {
  font-size: @font-size;
  line-height: @line-height;
  text-transform: @uppercase;
}

.gallery-list {
  list-style: none;
  &--title {
    .set-font (@uppercase,@line*7,@line*7);
  }
  &--like {
    font-weight: bold;
  }
}

.gallery-list_item {
  border-bottom: 1px solid #e5e5e5;
}
