.gallery {
 width: auto;
 padding: 0 20px;

&--title {
 margin: 0;
 margin-bottom: 25px;
 padding: 0;

.set-font (@uppercase, @line*9, @line*13);
 text-align: center;
}

&--lead {
 width: 275px;
 margin:0 auto;
 margin-bottom: 24px;
 display: block;
 padding: 0;

 .set-font (@uppercase, @line*7, @line*12);
 text-align: center;
}
}

@media(min-width: @tablet-width) {
.gallery {
 width: 648px;
 margin: 0 auto;
 margin-bottom: 30px;
 padding: 0;

&--title {
  margin-bottom: 30px;
 .set-font (@uppercase, @line*15, @line*13);
}

&--lead {
 margin-bottom: 75px;
 width: 430px;
}
}

.gallery_wrapper {
 display: flex;
 flex-wrap: wrap;
}
}

@media(min-width: @desktop-width) {
.gallery {
 padding: 0;
 width: 1200px;
}

.gallery_list:nth-child(2n) .gallery-list_wrapper {
 background-color: rgba(0, 0, 0, 0.3);
}

.gallery_wrapper {
  margin-bottom: 70px;
}

.gallery--title {
 margin-bottom: 30px;
}

.gallery--lead {
 margin-bottom: 71px;
}
}
