.gallery {
 width: 280px;
 margin: 0 20px;
 padding: 0;

 border: 1px solid yellow;

&--title {
 padding-top: 24px;

.set-font (@uppercase, @line*9, @line*13);
 text-align: center;
}

&--lead {
 display: block;
 margin:0 3px;
 padding-bottom: 24px;
 .set-font (@uppercase, @line*7, @line*12);
 text-align: center;
 }
}


@media(min-width: @tablet-width) {
.gallery {
 width: 648px;
 margin: 0 60px;

&--title {
 .set-font (@uppercase, @line*15, @line*13);
}

&--lead {
 margin: 0 105px;
}
}
}

@media(min-width: @desktop-width) {
.gallery {
 width: 100%;
 margin: 0 auto;

 &--lead {
 margin: 0 410px;
}
}
}
