.gallery-list {
 list-style: none;
 padding: 0;

&--title {
 .set-font (@uppercase, @line*7, @line*12);
}

  &--author {
  margin: 10px 0;
  font-size: 14px;
  line-height: 12px;
 }

  &--like {
    display: block;
    padding-bottom: 25px;
    font-weight: bold;
  }
}

@media(min-width: @tablet-width) {

}

@media(min-width: @desktop-width) {

}
