/*
.inner-list_item:first-child::before {
  content: "";
  position: absolute;
  top: 41px;
  left: -15px;
  width: 39px;
  height: 37px;

  background-image: url(../img/icon-home-mobile.svg);
  background-repeat: no-repeat;
}

.inner-list_item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: -17px;
  left: -7px;
  width: 32px;
  height: 38px;

  background-image: url(../img/icon-gift-mobile.svg);
  background-repeat: no-repeat;
}

.inner-list_item:last-child::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -10px;
  width: 40px;
  height: 35px;

  background-image: url(../img/icon-burger-mobile.svg);
  background-repeat: no-repeat;
}
*/

.inner-list {
 width: auto;
 padding: 0;
 position: relative;

 list-style: none;

&--title {
 margin: 0;
 padding: 0;
 padding-bottom: 10px;

.set-font (@uppercase,@line*9,@line*13);
}

&--lead {
 margin: 0;
 padding: 0;

 .set-font (@uppercase,@line*7,@line*10);
}

.inner-list_item:nth-child(3) {
 padding-bottom: 40px;
}
}

.inner-list__icon {
  position: absolute;
  fill: #81b3d2;
}

.inner-list__icon--house {
  top: 35px;
  left: 20px;
}

.inner-list__icon--gift {
  top: 135px;
  left: 25px;
}

.inner-list__icon--burger {
  top: 230px;
  left: 20px;
}

.inner-list_item {
  display: block;
  padding: 30px 30px 0px 70px;
  margin: 0;
}

.inner-list__icon--house-tablet {
 display: none;
}

.inner-list__icon--gift-tablet {
 display: none;
}

.inner-list__icon--burger-tablet {
 display: none;
}

@media(min-width: @tablet-width) {
.inner-list {
 display: flex;
 padding-top: 130px;

 width: 90%;
 max-width: 1042px;
 margin: 0 auto;

 text-align: center;

&--title {
 .set-font (@uppercase,@line*11,@line*13);
 padding-bottom: 30px;
}
}

.inner-list_item {
 padding: 30px 25px 60px 25px;
}

.inner-list_item:nth-child(3) {
  padding-bottom: 0px;
}

.inner-list_item:nth-child(2) {
 order: 1;
}

.inner-list__icon--house {
 display: none;
}

.inner-list__icon--gift {
 display: none;
}

.inner-list__icon--burger {
 display: none;
}

.inner-list__icon--house-tablet {
  display: block;
  top: 60px;
  left: 80px;
}

.inner-list__icon--gift-tablet {
  display: block;
  top: 60px;
  left: 545px;
}

.inner-list__icon--burger-tablet {
  display: block;
  top: 60px;
  left: 315px;
}

}

@media(min-width: @desktop-width) {
.inner-list__icon--house-tablet {
  top: 60px;
  left: 120px;
}

.inner-list__icon--gift-tablet {
  top: 60px;
  left: 760px;
}

.inner-list__icon--burger-tablet {
  top: 60px;
  left: 440px;
}
}
