.item__title {
  .set-font(@uppercase,@line*9,@line*13);
  font-weight: bold;
  text-align: center;
  padding: 25px 0;
}

.item {
  border: none;
  &--radio {
   list-style: none;
  }

  &--checkbox {
   list-style: none;
  }

  &--textarea {
  padding: 12px 20px;
  margin-bottom: 50px;
  box-sizing:border-box;
  resize: none;
  width: 100%;

  font-size: 18px;
  font-weight: bold;
  color: #000000;

  background-color: #f6f6f6;
	border:none;
}
}

.item__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 23px;
}

.item__label {
  .set-font (@uppercase,@line*7,@line*13);
  margin-right: 13px;
}

.radio__label {
  font-size: 18px;
  font-weight: 600;
  line-height: 10px;
}

.checkbox__label {
  font-size: 18px;
  font-weight: 600;
  line-height: 10px;
}

.item__input {
  padding: 20px;
  position: relative;
  width: 100%;

  box-sizing: border-box;

  font-size: 18px;
  font-weight: bold;

  border: none;
  background-color: #f2f2f2;
}

.item__input::placeholder {
  color: #000000;
}

.radio_option label,
.checkbox_option label {
  display: block;
  position: relative;
  padding-left: 25px;
  padding-top: 35px;
  margin-bottom: 20px;
}

.radio label::before {
  content:"";
  width: 56px;
  height: 56px;
  margin-left: 10px;

  position: absolute;
  top: 12px;
  left: -50px;

  border: none;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.checkbox label::before {
  content:"";
  width: 56px;
  height: 56px;
  margin-left: 10px;

  position: absolute;
  top: 12px;
  left: -50px;

  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.checkbox__input:checked+.checkbox__label::after {
  content:"";
  width: 23px;
  height: 16px;

  position: absolute;
  top: 29px;
  left: -23px;

  background-image: url(../img/icon-tick.svg);
  background-repeat: no-repeat;
}

.radio__input:checked+.radio__label::after {
  content:"";
  width: 22px;
  height: 22px;

  position: absolute;
  top: 29px;
  left: -23px;

  border: none;
  border-radius: 50%;
  background-color: #333333;
}

@media(min-width: @tablet-width) {
.wrapper-note {
  display: flex;
  justify-content: space-between;
}
}
