.advantage__slogan {
  .set-font(@uppercase,@line*9,@line+7);
}

.advantage__intro {
  .set-font(@uppercase,@line*7,@line+5);
}

.advantage {
   &--blue {
  .set-padding(@line*10,@line*0);

  .set-font(@uppercase,@line*9,@line+7);
  font-weight: 15;
  list-style: none;
  color: #ffffff;

  background-color: #81b3d2;
}
  &--gray {
   background-color: #eeeeee;
  }
  &--gray h2 {
   .set-margin(@line*0,@line*0);
   .set-font(@uppercase,@line*9,@line*9);
  }
    &--gray p {
   .set-margin(@line*0,@line*0);
   .set-font(@uppercase,@line*7,@line*9);
  }
}


