.page-footer {
  &--visitsedona {
  .set-font(@uppercase,@line+19,@line+7);
  font-weight: bold;
 }
}

.developed-span {
  .set-font(@uppercase,@line+12,@line+7);
  display: inline-block;
  position: relative;
  padding: 13px 50px 13px 25px; 
}

.developed-span::after {
  content: "";
  width: 27px;
  height: 34px;
  position: absolute;
  right: 12px;
  bottom: -2px;

  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
}



