.page-footer {
  width: 320px;
  text-align: center;

  &--visitsedona {
  .set-font(@uppercase,@line+19,@line+7);
  font-weight: bold;
 }
}

.developed-span {
  .set-font(@uppercase,@line+12,@line+7);
}

@media(min-width: @tablet-width) {
 .page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 648px;
  margin: 0 auto;
 }
}

@media(min-width: @desktop-width) {
 .page-footer {
  width: 960px;
 }
}
