.site-list {
 padding: 0;
 margin: 0;

 list-style: none;
}

.site-list a {
 display: block;
 padding: 10px 0;

 text-align: center;
 .set-font (@uppercase,@line*9,@line*20);
  font-weight: bold;
  color: #ffffff;

 background-color: @bk-menu;
 border-bottom: 1px solid darken(@bk-menu,35%);
 border-top: 1px solid lighten(@bk-menu,15%);
}

.site-list__item:last-child a {
 border-bottom: none;
 box-shadow: inset 0px -7px 15px rgba(0,0,0,0.2);
}

.site-list a[href] {
&:hover {
 background-color: #669ec0;
}

&:active {
 background-color: #5496bd;
 color: #88b6d1;
}
}

@media(min-width: @tablet-width) {
.site-list {
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-start;
 width: 695px;
 flex-grow: 1px;
}

.site-list__item:last-child a {
 box-shadow:none;
}

.site-list__item a {
 padding: 22px 0;

 font-size: 14px;
 line-height: 26px;
 color: #000000;

 background-color: #ffffff;
 border: none;
}

.site-list a[href] {
&:hover {
 color: #81b3d2;
 background-color: #ffffff;
}

&:active {
 color: rgba(0, 0, 0, 0.3);
 background-color: #ffffff;
}
}

.site-list__item {
 width: 20%;

&--active a {
 color: #766357;
}

&:nth-child(2) {
 margin-right: 10%;
}

&:nth-child(3) {
 margin-left: 10%;
}
}
}

@media(min-width: @desktop-width) {
.site-list {
 width: @desktop-width;
}
}

